extends layout

block content
  .container
    .row
      .card.white.col.s12
        .row
          .col.s12.center 
            h1 Notes
    .row
      .card.white.col.s12
        .row
          .col.s12
            p.card-title /notes
            ul.collapsible
              li
                .collapsible-header.blue GET
                .collapsible-body
                  .row
                    .col.s12
                      strong Paramètres
                    .col.s12
                      p Aucun paramètre
                  .row
                    .col.s12
                      strong Réponse
                    .col.s12
                      table
                        tbody
                          tr
                            td type
                            td application/json
                  .row
                    .col.s12
                      strong Status
                    .col.s12
                      table
                        thead
                          th Code HTTP
                          th Description
                        tbody
                          tr
                            td 200
                            td Array&lt;<a href="#note">Note</a>&gt;
              li
                .collapsible-header.green POST
                .collapsible-body
                  .row
                    .col.s12
                      strong Paramètres (data)
                    .col.s12
                      table
                        thead
                          th Paramètre
                          th Type
                        tbody
                          tr
                            td texte
                            td string
                          tr
                            td auteur
                            td string
                  .row
                    .col.s12
                      strong Réponse
                    .col.s12
                      table
                        tbody
                          tr
                            td type
                            td plain text
                  .row
                    .col.s12
                      strong Status
                    .col.s12
                      table
                        thead
                          th Code HTTP
                          th Description
                        tbody
                          tr
                            td 201
                            td Crée. L'id est renvoyé
                          tr
                            td 400
                            td Mauvais paramètres
            p.card-title /notes/:id
            ul.collapsible
              li
                .collapsible-header.blue GET
                .collapsible-body
                  .row
                    .col.s12
                      strong Paramètres (url)
                    .col.s12
                      table
                        thead
                          th Paramètre
                          th Type
                        tbody
                          tr
                            td id
                            td integer (l'id de la note)
                  .row
                    .col.s12
                      strong Réponse
                    .col.s12
                      table
                        tbody
                          tr
                            td type
                            td application/json
                  .row
                    .col.s12
                      strong Status
                    .col.s12
                      table
                        thead
                          th Code HTTP
                          th Description
                        tbody
                          tr
                            td 200
                            td Renvoie une <a href="#note">Note</a>
              li
                .collapsible-header.red DELETE
                .collapsible-body
                  .row
                    .col.s12
                      strong Paramètres (url)
                    .col.s12
                      table
                        thead
                          th Paramètre
                          th Type
                        tbody
                          tr
                            td id
                            td integer (l'id de la note)
                  .row
                    .col.s12
                      strong Réponse
                    .col.s12
                      table
                        tbody
                          tr
                            td type
                            td application/json
                  .row
                    .col.s12
                      strong Status
                    .col.s12
                      table
                        thead
                          th Code HTTP
                          th Description
                        tbody
                          tr
                            td 200
                            td Supprime la note de la liste
    .row
      .card.white.col.s12
        .row
          .col.s12
            p.card-title Modèle
        .row
          .col.s12
            p#note Note
          .col.s12
            table
              thead
                th Propriété
                th Type
              tbody
                tr
                  td texte
                  td string
                tr
                  td auteur
                  td string
                tr
                  td date
                  td date