doctype html
html
  head
    title= Redis
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
  body.grey.lighten-4
    block content
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/materialize.min.js")
